<div class="flex flex-col">
  <div class="flex flex-col">
    <fieldset class="box tabular">
      <legend><%= l(:redmine_asap_colors_logo_title) %></legend>
      <div class="flex">
        <div class="w-1/6 flex items-center"><%= label_tag :redmine_asap_colors_logo_bg, l(:redmine_asap_colors_logo_bg) %></div>
        <%= text_field_tag "settings[redmine_asap_colors_logo_bg]", @settings[:redmine_asap_colors_logo_bg] %>
      </div>

    </fieldset>
  </div>
</div>
