
<fieldset class="box">
  <legend><%= l(:redmine_asap_theme_turbo) %></legend>
  <div class="tabular settings">
    <p>
      <%= label_tag :redmine_asap_theme_turbo, l(:redmine_asap_theme_turbo) %>
      <%= check_box_tag "settings[redmine_asap_theme_turbo]", true, @settings[:redmine_asap_theme_turbo] %>
    </p>
  </div>
</fieldset>

