<div class="grid grid-cols-6 gap-4">
  <% images_dir = Rails.root.join('plugins', 'redmine_asap_theme', 'assets', 'images', 'login') %>
<% @urls = Dir.glob("#{images_dir}/*.{jpg,png,jpeg,gif}").map { |f| File.basename(f) } %>
<% @urls.each do |filename| %>
  <div class="flex flex-col items-center bg-white p-4 shadow rounded">
    <!-- DONNE LE CHEMIN login/FICHIER -->
    <%= image_tag "login/#{filename}", :plugin => 'redmine_asap_theme', class: 'w-full mb-6 max-w-none' %>
    <%= radio_button_tag 'settings[redmine_asap_login_wallpaper]', filename, (Setting.plugin_redmine_asap_theme['redmine_asap_login_wallpaper'] == filename) %>
  </div>
<% end %>
</div>
