<aside id="sidebar" data-sidebar-target="sidebar" class="w-96 z-50 shadow-lg p-8 bg-white border-l border-gray-50 dark:bg-gray-800 fixed top-14 right-0 h-full hidden">
  <h3><%= l(:label_repository_plural) %></h3>
  <p>
    <%= @repositories.sort.collect {|repo|
        link_to repo.name,
                {:controller => 'repositories', :action => 'show',
                :id => @project, :repository_id => repo.identifier_param, :rev => nil, :path => nil},
                :class => 'repository' + (repo == @repository ? ' selected' : '')
      }.join('<br />').html_safe %>
  </p>
</aside>