<% if @issue.safe_attribute? 'watcher_user_ids' -%>
  <%= hidden_field_tag 'issue[watcher_user_ids][]', '' %>
  <div class="flex flex-col">
    <div id="watchers_inputs" class="mb-6">
      <%= watchers_checkboxes(@issue, users_for_new_issue_watchers(@issue)) %>
    </div>
    <div class="search_for_watchers flex justify-end">
    <%= link_to l(:label_search_for_watchers),
                {:controller => 'watchers', :action => 'new', :project_id => @issue.project},
                :class => 'icon icon-add-bullet w-auto button-blue',
                :remote => true,
                :method => 'get' %>
    </div>
  </div>
<% end %>
