<div data-controller="issue" class="bg-white dark:bg-slate-700 shadow">
  <div data-issue-target="section" data-controller="contextual" class="contextual px-4 sm:px-0 container mx-auto  py-2 grid grid-cols-3 justify-items-stretch gap-0 w-full">
    <div class="flex h-8 items-center">
      <h2 class="uppercase text-gray-600 flex items-center dark:text-gray-100">
        <%= "#{@issue.tracker_was} ##{@issue.id}" %>
      </h2>
    </div>

  </div>
</div>

<div class="w-auto sm:container mx-4 sm:mx-auto mt-8">

  <%= render :partial => 'edit' %>
  <% content_for :header_tags do %>
      <%= robot_exclusion_tag %>
  <% end %>
</div>
