<div class="dark:bg-gray-800 h-fit mr-8 w-full bg-white  mb-8 mt-0 flex items-center">
  <%= link_to l(:button_copy), {:action => 'copy'}, :class => 'icon icon-copy ml-auto mr-3 flex text-white bg-blue-700 hover:bg-blue-800 focus:ring-4 focus:ring-blue-300 font-medium rounded text-sm px-3 py-2 dark:bg-blue-600 dark:hover:bg-blue-700 focus:outline-none dark:focus:ring-blue-800' %>
  <%= link_to l(:field_summary), {:action => 'index'}, :class => 'icon icon-summary flex text-white bg-blue-700 hover:bg-blue-800 focus:ring-4 focus:ring-blue-300 font-medium rounded text-sm px-3 py-2 dark:bg-blue-600 dark:hover:bg-blue-700 focus:outline-none dark:focus:ring-blue-800' %>
</div>
