<div class="dark:bg-gray-800 h-fit w-full bg-white  mt-0 flex items-center justify-end">
  <%= link_to l(:button_copy), {:action => 'copy'}, :class => 'icon icon-copy button-blue' %>
  <%= link_to l(:field_summary), {:action => 'index'}, :class => 'icon icon-summary ml-3 button-second' %>
</div>
