<div class="ml-60">

<% if @roles.empty? || @trackers.empty? %>
<p class="nodata"><%= l(:label_no_data) %></p>
<% else %>
<div class="autoscroll dark:bg-gray-800 h-fit mr-6 w-full bg-white shadow p-8 mb-8 mt-0">
<table class="list w-full text-sm text-left rtl:text-right text-gray-500 dark:text-gray-400">
<thead class="text-xs text-gray-700 uppercase bg-gray-50 dark:bg-gray-700 dark:text-gray-400">
  <tr>
    <th class="py-3"></th>
    <% @roles.each do |role| %>
    <th class="py-3">
        <%= content_tag(role.builtin? ? 'em' : 'span', role.name) %>
    </th>
    <% end %>
  </tr>
</thead>
<tbody>
<% @trackers.each do |tracker| -%>
<tr>
  <td class="name px-6 py-2 text-gray-800"><%= tracker.name %></td>
  <% @roles.each do |role| -%>
  <% count = @workflow_counts[[tracker.id, role.id]] || 0 %>
    <td class="px-6 py-2">
      <%= link_to((count > 0 ? count : content_tag(:span, nil, :class => 'icon-only icon-not-ok')),
                  {:action => 'edit', :role_id => role, :tracker_id => tracker},
                  :title => l(:button_edit)) %>
    </td>
  <% end -%>
</tr>
<% end -%>
</tbody>
</table>
</div>
<% end %>
</div>