<div class="container mx-auto sm:px-16 lg:px-32 xl:px-56 sm:mt-8 px-4 lg:mt-8 h-full">
  <% if (@bookmarked && @bookmarked.length > 0) || (@my_projects && @my_projects.length > 0) %>
    <%= render :partial => 'projects' %>
  <% else %>
    <%= render :partial => 'no_project' %>
  <% end %>
</div>