<%= form_tag({:action => 'edit', :tab => 'api'}) do %>

<div class="box tabular settings">
<p><%= setting_check_box :rest_api_enabled %></p>

<p><%= setting_check_box :jsonp_enabled %></p>
</div>

<div class="flex w-full my-8">
  <%= submit_tag l(:button_save), class: "ml-auto button-submit" %>
</div>
<% end %>
