<div class="ml-14 md:ml-60">
  <div class="bg-white dark:bg-slate-700 shadow">
    <div data-controller="contextual" class="contextual px-4 py-2 grid grid-cols-1 md:grid-cols-3 justify-items-stretch gap-0 w-full">
      <div class="py-2">
        <%= title [l(:label_issue_status_plural), issue_statuses_path], @issue_status.name %>
      </div>
      <div></div>
      <div class="flex w-full justify-end">
      </div>
    </div>
  </div>

  <div class="mx-4">
    <%= labelled_form_for @issue_status, data: { turbo: false } do |f| %>
      <%= render :partial => 'form', :locals => {:f => f} %>
      <%= submit_tag l(:button_save) %>
    <% end %>
  </div>
</div>