#errorExplanation{
  ul{
    @apply rounded bg-red-50 p-4 text-red-700;
  }
}

#issue-table{
  thead{
    th{
      @apply px-2 text-xs font-medium text-gray-700;
    }
  }
  tbody{
    tr{
      @apply hover:bg-gray-100;
    }
    tr.issue.idnt-1 td.subject {
      padding-left: 10px;
      background-position: 5px 50%;
    }
    tr.issue.idnt-2 td.subject {
      padding-left: 20px;
      background-position: 5px 50%;
    }
    tr.issue.idnt-3 td.subject {
      padding-left: 30px;
      background-position: 5px 50%;
    }
    tr.issue.idnt-4 td.subject {
      padding-left: 40px;
      background-position: 5px 50%;
    }
    tr.issue.idnt-5 td.subject {
      padding-left: 50px;
      background-position: 5px 50%;
    }
    td{
      @apply px-2 py-2;
    }
    td.buttons{
      padding: 0;
      vertical-align: middle;
      a{
        @apply flex items-center justify-center w-full h-full p-0 ;
      }
      a{
        font-size: 0 !important;
      }
    }
    .icon-actions::before {
      @apply hover:bg-gray-200  flex items-center rounded-full p-2;
      content: '';
      background-image: url('../icons/ellipsis-h.svg');
      background-size: 24px 24px;
      height: 24px;
      width: 24px;
    }
    td.subject{
      @apply font-medium;
    }
    tr.idnt{
      td.subject{
        display: flex;
        align-items: center;
      }
      td.subject::before{
        display: flex;
        align-items: center;
        content: '';
        background-image: url('../icons/chevron-right.svg');
        background-size: 16px 16px;
        height: 16px;
        width: 16px;
      }
    }
    td.updated_on{
      @apply text-xs;
    }
  }
}

.pagination{
  @apply flex flex-col;
  ul.pages{
    @apply inline-flex -space-x-px text-sm mb-6;
    li.previous{
      span{
        @apply cursor-pointer flex items-center justify-center px-3 h-8 ms-0 leading-tight  border border-e-0 border-gray-300 rounded-s-lg bg-gray-100 text-gray-400 dark:bg-gray-800 dark:border-gray-700 dark:text-gray-400 dark:hover:bg-gray-700 dark:hover:text-white;
      }
      a{
        @apply flex items-center justify-center px-3 h-8 ms-0 leading-tight text-gray-500 bg-white border border-e-0 border-gray-300 rounded-s-lg hover:bg-gray-100 hover:text-gray-700 dark:bg-gray-800 dark:border-gray-700 dark:text-gray-400 dark:hover:bg-gray-700 dark:hover:text-white;
      }
    }
    li.page{
      a{
        @apply flex items-center justify-center px-3 h-8 leading-tight text-gray-500 bg-white border border-gray-300 hover:bg-gray-100 hover:text-gray-700 dark:bg-gray-800 dark:border-gray-700 dark:text-gray-400 dark:hover:bg-gray-700 dark:hover:text-white
      }
    }
    li.current{
      span{
        @apply z-10 flex items-center justify-center px-3 h-8 leading-tight text-blue-600 border border-blue-300 bg-blue-50 hover:bg-blue-100 hover:text-blue-700 dark:border-gray-700 dark:bg-gray-700 dark:text-white
      }
    }
    li.next{
      span{
        @apply cursor-pointer flex items-center justify-center px-3 h-8 leading-tight border border-gray-300 rounded-e-lg bg-gray-100 text-gray-400 dark:bg-gray-800 dark:border-gray-700 dark:text-gray-400 dark:hover:bg-gray-700 dark:hover:text-white
      }
      a{
        @apply flex items-center justify-center px-3 h-8 leading-tight text-gray-500 bg-white border border-gray-300 rounded-e-lg hover:bg-gray-100 hover:text-gray-700 dark:bg-gray-800 dark:border-gray-700 dark:text-gray-400 dark:hover:bg-gray-700 dark:hover:text-white
      }
    }
  }
  .per-page{
    .selected{

    }
    a{
      @apply text-blue-600 hover:text-blue-700;
    }
  }
}


#sidebar-list{
  h3{
    @apply text-gray-500 uppercase text-xs my-6 px-8
  }
  .queries{
    @apply w-full m-0 p-0;
    li{
      @apply w-full flex;
      a{
        @apply flex w-full hover:bg-gray-100 py-2 px-4 mb-0.5 mx-4 rounded;
      }
      a.icon-clear-query{
        @apply w-16 flex justify-center items-center rounded-md bg-blue-700 text-blue-50 ml-0 hover:bg-blue-800;
      }
      a.selected{
        @apply bg-gray-100 border-l-2 border-blue-700 px-3 mr-0;
      }
    }
  }
}