
  input, textarea, select{
    @apply text-sm !important;
  }

  form label{
    @apply font-normal;
  }

  input[type='text'], input[type='password']{
    @apply mt-1 block w-full rounded-md bg-gray-100 border-transparent focus:border-gray-500 focus:bg-white focus:ring-0;
  }


  input[type='number']{
    @apply mt-1 block text-xs rounded-md bg-gray-100 border-transparent focus:border-gray-500 focus:bg-white focus:ring-0;
  }

  textarea{
    @apply mt-1 block w-full rounded-md bg-gray-100 border-transparent focus:border-gray-500 focus:bg-white focus:ring-0;
  }

  select{
    @apply block w-full mt-1 rounded-md bg-gray-100 border-transparent focus:border-gray-500 focus:bg-white focus:ring-0 !important;
  }


  input[type='submit']{
    @apply cursor-pointer text-white bg-blue-700 hover:bg-blue-800 focus:ring-4 focus:ring-blue-300 font-medium rounded text-sm px-5 py-2 dark:bg-blue-600 dark:hover:bg-blue-700 focus:outline-none dark:focus:ring-blue-800;
  }

/* Query form filters */
table#filters-table{
  .field label{
    @apply text-xs mr-2;
  }
  td{
    @apply align-middle;
    >span{
      @apply h-full flex;
    }
  }
}

.hide-email{
  @apply flex items-center;
  > label{
    @apply mr-4
  }
}

.jstTabs.tabs{
  ul{
    width: 100%;
    height: auto;
    border-bottom: 0;
    box-sizing: border-box;
    margin: 0;
    padding-left: 0;
    list-style: none;
    display: flex;
    flex-wrap: nowrap;
    li{
      height: auto;
      margin: 0;
      align-self: flex-end;
      flex: 0 1 auto;
      a{
        display: inline-block;
        padding: 5px 8px;
        vertical-align: bottom;
        line-height: 19px;
        border-bottom: 1px solid transparent;
        box-sizing: border-box;
        min-width: 3em;
        height: 30px;
        margin-right: 2px;
        border: 1px solid transparent;
        border-radius: 3px 3px 0 0;
        text-align: center;
        white-space: nowrap;
      }
      a.selected{
        border-color: #e5e7eb #e5e7eb #f9fafb;
        background: #f9fafb;
        color: #111827;
      }
    }
    li.tab-elements{
      flex: 1;
      margin-left: 5px;
      position:relative;
    }
    .jstElements {
      padding: 0;
      height: auto;
      line-height: normal;
    }
  }
}
.wiki-edit{
  @apply rounded-md bg-gray-100 border-transparent focus:border-gray-500 focus:bg-white focus:ring-0
}

#custom-fields-radios{
  input{
    @apply mr-3;
  }
}

label{
  @apply mr-3;
}

fieldset{
  @apply  rounded p-6 !important;
  >legend{
    @apply font-light uppercase text-xs bg-gray-200 text-gray-900 px-4 py-1;
  }
}

