select{
  @apply block text-xs w-full mt-1 rounded-md bg-gray-100 dark:bg-gray-700 border-transparent focus:border-gray-500 focus:bg-white focus:ring-0
}

input[type=text],input[type=password]{
  @apply mt-1 block w-full text-xs rounded-md bg-gray-100 dark:bg-gray-700 border-transparent focus:border-gray-500 focus:bg-white dark:focus:bg-gray-600 focus:ring-0;
}

input[type=checkbox] {
  @apply appearance-auto dark:appearance-none rounded bg-gray-200 dark:bg-gray-600! border-transparent focus:border-transparent focus:bg-gray-200 text-gray-700 dark:text-gray-100 focus:ring-1 focus:ring-offset-2 focus:ring-gray-500
}

input[type=date]{
  @apply mt-1 block w-full text-xs rounded-md bg-gray-100 dark:bg-gray-700 border-transparent focus:border-gray-500 focus:bg-white dark:focus:bg-gray-800 focus:ring-0
}

textarea{
  @apply mt-1 block w-full rounded-md text-xs bg-gray-100 dark:bg-gray-700 border-transparent focus:border-gray-500 focus:bg-white  dark:focus:bg-gray-800 focus:ring-0
}

input#months { @apply text-xs; }

input[type="file"] {
  @apply border border-gray-200 px-4;
}

#list-definition{
  .query-columns{
    select[multiple="multiple"]{
      @apply bg-gray-100 dark:bg-gray-700;
    }
  }
}

.controller-workflows.action-copy{
  select[multiple="multiple"]{
      @apply bg-gray-100 dark:bg-gray-700;
    }
}