.icon-sort-handle:after{
  display: inline-flex;
  content: '';
  background-image: url('../images/arrow-pointing.svg');
  background-size: 16px 16px;
  height: 16px;
  width: 16px;
}

.icon-checked:after{
  display: inline-flex;
  content: '';
  background-image: url('../images/checked.svg');
  background-size: 16px 16px;
  color: #22c55e;
  height: 16px;
  width: 16px;
}



.journal-actions{
  .icon-only{
    background-position: 0% 50%;
    background-repeat: no-repeat;
    padding-left: 16px;
    display: inline-block;
    width: 0;
    height: 16px;
  overflow: hidden;
  padding-top: 0;
  padding-bottom: 0;
  font-size: 8px;
  vertical-align: middle;
  }
  .icon-comment:after{
    display: inline-flex;
    content: '';
    background-image: url('../images/checked.svg');
    background-size: 16px 16px;
    color: #22c55e;
    height: 16px;
    width: 16px;
  }
}