@import './legacy.css';
@import './legacy-responsive.css';
@import './layout.css';
@import './components.css';
@import './icons.css';
@import './buttons.css';
@import './forms.css';
@import './lists.css';
@import './issue.css';
@import './news.css';
@import './documents.css';
@import './wiki.css';
@import './project.css';
@import './gantt.css';
@import './user.css';
@import './my-page.css';
@import './plugins.css';

@import "tailwindcss";
@custom-variant dark (&:where(.dark, .dark *));

@plugin "@tailwindcss/forms";
@plugin "@tailwindcss/aspect-ratio";
@plugin "@tailwindcss/typography";

@source  "../../app/views/**/*.html.erb";
@source  "../../lib/redmine_asap_theme/*.rb";
@source  "../../../redmine_asap_user_features/app/views/**/*.html.erb";
@source  "../../../redmine_asap_portfolio/app/views/**/*.html.erb";
@source  "../../../redmine_asap_pilot/app/views/**/*.html.erb";
@source  "../../../redmine_asap_pilot/app/models/*.rb";

@theme {
  --font-sans: "Inter", sans-serif;
  --font-inter: Inter, sans-serif;
  --text-2xs: calc(11px * var(--font-scale, 1));
  --text-xs: calc(13px * var(--font-scale, 1));
  --text-sm: calc(0.875rem * var(--font-scale, 1));
  --text-base: calc(1rem * var(--font-scale, 1));
  --text-lg: calc(1.125rem * var(--font-scale, 1));
  --text-xl: calc(1.25rem * var(--font-scale, 1));
  --text-2xl: calc(1.5rem * var(--font-scale, 1));
  --text-3xl: calc(1.875rem * var(--font-scale, 1));
}