.controller-issues{
  div.issue {
    @apply relative bg-white dark:bg-gray-800 shadow p-8 border border-gray-100 dark:border-gray-800;
    div.gravatar-with-child, div.avatar-with-child{
      @apply float-left mr-4;
      .gravatar{
        @apply w-14 h-14;
      }
      .gravatar-child{
        @apply w-8 h-8 rounded-full;
      }
    }
    div.gravatar-with-child > img.gravatar:nth-child(2), div.avatar-with-child > img.gravatar:nth-child(2){
      @apply w-8 h-8 rounded-full absolute top-6 -right-2;
    }
    .author{
      @apply text-gray-500 dark:text-gray-300 font-light mt-0;
      a.user.active{
        span{
          @apply p-0 shadow-none align-bottom border-0;
          img{
            @apply w-4 h-4;
          }
        }
      }
    }
    #issue_tree, #relations{
      @apply flex flex-col relative;
      .contextual{
        @apply -top-2 right-0;
        a{
          @apply hover:bg-gray-50 px-2.5 py-2 rounded dark:hover:bg-gray-700;
        }
      }
      .subtasks-wrapper, .relation-issues-wrapper{
        @apply mt-2 mb-4;
        table{
          td{
            @apply border-gray-200;
          }
        }
      }
    }
  }

  .select2-container--default .select2-selection--multiple{
    @apply dark:bg-gray-700! border-gray-800;
  }

  .select2-container--default .select2-results__option--highlighted[aria-selected]{
    @apply dark:bg-gray-800! border-gray-800! text-gray-300!;
  }

  .select2-dropdown{
     @apply dark:bg-gray-700! border-gray-800! text-gray-300!;
  }

  .subtasks-wrapper{
    @apply w-full overflow-x-auto;
  }

  div.journals{
    @apply my-4 p-8 bg-white dark:bg-gray-800 shadow rounded;
    #tab-content-history > div{
      @apply relative border-s-2 border-gray-200 dark:border-gray-600 ms-4;
      > div{
        @apply pb-4 ms-6;
      }
      .user-avatar{
        @apply  absolute flex items-center justify-center w-8 h-8 rounded-full start-6;
      }

      .journal-header{
        @apply text-xs border-0 flex w-full items-center mb-1;
        .journal-info{
          @apply flex items-center font-light dark:text-gray-100;
          >a{
            @apply mx-1 text-gray-800 dark:text-gray-100;
          }
        }
        .journal-meta{
          @apply ml-auto flex items-center space-x-3;
          .journal-actions{
            @apply space-x-3;
          }
        }
      }
      .journal-content{
        @apply bg-gray-50 dark:bg-gray-700 rounded p-4;
      }
    }

/*
    .note{
      @apply ml-10;
      >.contextual{
        @apply pr-4;
      }
      .note-header{
        @apply relative py-2 px-4 border-b border-gray-100 text-gray-500 text-xs;
        >.gravatar{
          @apply relative top-0 float-left -ml-14 w-8 h-8;
        }
        a.user.active{
          span{
            @apply p-0 shadow-none align-bottom border-0;
            img{
              @apply hidden;
            }
          }
        }
      }
      .details{
        @apply p-4 text-xs;
      }
      .wiki{
        @apply p-4;
      }
    }

    .journal-header{
      @apply flex items-center text-xs ;
      .journal-info{
          @apply flex items-center relative;
          >a{
            @apply mx-1
          }
      }
      .journal-meta{
        @apply ml-auto flex items-center space-x-3;
        .journal-actions{
          @apply space-x-3;
        }
      }
    }
    .journal-content{
      @apply text-xs p-4
    } */
  }

  div.issue div.attributes{
    @apply bg-gray-50 dark:bg-gray-700 rounded p-6 border border-gray-100 dark:border-gray-700 mb-6;
    div.attribute{
      @apply flex flex-col md:flex-row pl-0 py-0.5;
    }
    .tags{
      @apply w-1/2;
    }
    .label{
      @apply w-full md:w-1/3 md:py-0 py-1 font-bold;
    }
  }

  div.issue div.wiki{
    @apply my-6
  }

  div.issue .subject h3{
    @apply font-bold text-lg mb-0 dark:text-gray-400;
  }

  div.issue .next-prev-links .position a{
    @apply px-2
  }

  .description{
    @apply relative;
    > .contextual{
      @apply top-0 right-0;
    }
    > p {
      display: none;
    }
    div.wiki p{
      /* @apply text-xs; */
    }
  }

  #issue_description_and_toolbar{
    @apply w-full;
  }

  #content{
    > form{
      @apply my-4;
      p{
        @apply flex items-center;
        > label{
          @apply mr-3;
        }
      }
    }
  }

  #relations{
    @apply my-6;
  }
}


.controller-issues.action-show {
  #content{
    hr{
      display:none;
    }
  }
}


