#content{
  @apply bg-zinc-50 dark:bg-gray-900 p-8
}

#content .splitcontent{
  @apply w-full;
}


/* SIDEBAR */
#sidebar{
  @apply bg-white shadow border-l border-gray-100 flex-shrink pr-0;
  padding-left:20px;

  #sidebar-switch-panel {
    margin-left: -20px;
    /* padding-right: 28px; */
    width: 100%;
  }
}

#sidebar h3{
  @apply font-medium text-xs mt-6 mb-4 text-gray-500
}

#sidebar a{
  /* @apply text-gray-900 */
}

.splitcontent {
  @apply grid grid-cols-1 sm:grid-cols-2 gap-4
}
/* .splitcontentleft {flex: 1; margin-right: 5px;}
.splitcontentright {flex: 1; margin-left: 5px;}
.splitcontenttop {flex: 2; flex-basis: 100%;} */


#content {
  @apply p-8 bg-gray-50 flex-grow m-0 overflow-x-auto;
}
