

#content {
  @apply relative px-6 sm:px-12 py-8 sm:py-6 bg-gray-50 dark:bg-gray-900 flex-grow m-0 overflow-x-auto;
}

#content .splitcontent{
  @apply w-full;
}




#sidebar h3{
  @apply font-medium text-xs mt-6 mb-4 text-gray-500
}

#sidebar a{
  /* @apply text-gray-900 */
}

.splitcontent {
  @apply grid grid-cols-1 sm:grid-cols-2 gap-4
}
/* .splitcontentleft {flex: 1; margin-right: 5px;}
.splitcontentright {flex: 1; margin-left: 5px;}
.splitcontenttop {flex: 2; flex-basis: 100%;} */






div#sticky-issue-header {
  @apply hidden fixed top-14 left-0 right-0 bg-white dark:bg-gray-900 border-b border-gray-100 dark:border-gray-800 shadow-sm text-sm z-40 px-14 py-4
}
div#sticky-issue-header.is-visible {
  display: flex;
}
div#sticky-issue-header .issue-heading {
  flex-shrink: 0;
  white-space: nowrap;
  margin-right: 6px;
}
div#sticky-issue-header .subject {
  font-weight: bold;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  flex-grow: 1;
}

#footer {
  clear: both; border-top: 1px solid #d0d7de; font-size: 0.9em; color: #aaa; padding: 5px; text-align:center; background:#fff;
  @apply dark:bg-gray-800 dark:border-t-gray-800;
}
