#content{
  @apply bg-zinc-50 dark:bg-gray-900 p-8
}

#content .splitcontent{
  @apply w-full;
}




#sidebar h3{
  @apply font-medium text-xs mt-6 mb-4 text-gray-500
}

#sidebar a{
  /* @apply text-gray-900 */
}

.splitcontent {
  @apply grid grid-cols-1 sm:grid-cols-2 gap-4
}
/* .splitcontentleft {flex: 1; margin-right: 5px;}
.splitcontentright {flex: 1; margin-left: 5px;}
.splitcontenttop {flex: 2; flex-basis: 100%;} */


#content {
  @apply px-12 py-10 bg-gray-50 flex-grow m-0 overflow-x-auto;
}



div#sticky-issue-header {
  @apply hidden fixed top-14 left-0 right-0 bg-white border-b border-gray-100 shadow-sm text-sm z-50 px-14 py-4
}
div#sticky-issue-header.is-visible {
  display: flex;
}
div#sticky-issue-header .issue-heading {
  flex-shrink: 0;
  white-space: nowrap;
  margin-right: 6px;
}
div#sticky-issue-header .subject {
  font-weight: bold;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  flex-grow: 1;
}