

/* Navbar */

/* Project jumpbox */

.drdn-content{
  display: none;
}

#project-jump.drdn {
  @apply relative w-auto flex items-center justify-center h-full pl-0 pr-0 dark:bg-slate-900;
}

#project-jump.drdn-trigger{
  @apply overflow-x-auto pl-0 pr-0 dark:bg-slate-900;
}

.expanded .drdn-content{
  @apply flex flex-col absolute top-14 left-0 shadow-md bg-white dark:bg-slate-900 w-64;
  .drdn-items{
    @apply cursor-pointer;
    .label-group{
      @apply p-4 uppercase text-xs text-gray-400;
    }
    a{
      @apply hover:bg-gray-50 hover:border-l-2 hover:border-blue-800 hover:pl-3.5 px-4 py-2 text-sm;
    }
  }
  .projects{
    @apply  h-80 overflow-y-auto;
  }
  .all-projects{
    @apply w-full;
    a{
      @apply hover:bg-gray-50 mt-4 flex px-4 py-2 w-full border-t hover:border-t-white border-gray-50;
    }
  }
}


.drdn-trigger:after{
  display: inline-flex;
  content: '';
  margin-left: 10px;
  background-image: url('../images/icon_chevron_down.svg');
  background-size: 16px 16px;
  height: 16px;
  width: 16px;
}


.expanded .drdn-content .projects{
  display: flex;
  flex-direction: column;
}

.drdn-trigger{
  @apply h-full flex items-center text-sm justify-center px-4 hover:bg-gray-50 dark:bg-slate-900 cursor-pointer;
}

.has-main-menu .drdn-trigger{
  @apply bg-white text-gray-800 hover:bg-gray-50 border-r border-gray-100;
  &::after{
    @apply text-white;
  }
}


#project-menu-actions{
  ul:first-child > li:not(:first-child){
    display:none;
  }
  ul > li:first-child > .new-object{
    display:none;
  }
  ul{
    li{
      a{
        @apply flex items-center text-gray-900 hover:bg-gray-50 hover:border-l-2 hover:border-l-blue-800 hover:pl-3.5 px-4 py-2 text-sm
      }
      a.selected{
        @apply border-l-2 border-l-blue-800 pl-3.5 bg-gray-50;
      }
    }
  }
}

#project-menu-submenus{
  ul > li:first-child{
    display:none;
  }
  ul{
    li{
      a{
        @apply flex items-center text-gray-900 hover:bg-gray-50 hover:border-l-2 hover:border-l-blue-800 hover:pl-3.5 px-4 py-2 text-sm
      }
      a.selected{
        @apply border-l-2 border-l-blue-800 pl-3.5 bg-gray-50;
      }
    }
  }
}

#menu-breadcrumb{
  @apply h-14 w-14 flex items-center text-sm justify-center px-4 border-r border-gray-100  hover:bg-gray-50 cursor-pointer;
}

#menu-breadcrumb-empty{
  @apply h-14 w-14 flex items-center text-sm justify-center px-4 ;
}


#breadcrumbs{
  @apply absolute top-14 left-14 bg-white shadow flex flex-row;
}

#breadcrumbs > * {
  @apply flex items-center text-sm justify-center p-4 h-14;
}

#breadcrumbs > a {
  @apply hover:bg-gray-100;
}

.tribute-container{
  @apply shadow mt-3  bg-white;
}

.tribute-container ul{
  @apply  shadow-xl;
}

.tribute-container li.highlight{
  @apply shadow-xl p-2 w-48 text-sm bg-white hover:bg-gray-50;
}

#project-menu{
  ul{
    @apply space-y-0.5 font-light;
    li:first-child{
      display: none;
    }
    li a{
      @apply  whitespace-nowrap block md:flex sm:overflow-hidden  items-center p-2 text-gray-900 rounded-lg dark:text-white hover:bg-gray-100 dark:hover:bg-gray-700 ;
      &.selected{
        @apply bg-gray-100 dark:bg-gray-700
      }
    }
  }
}


#project-menu ul li a.calendar::before{
  display: inline-flex;
  content: '';
  margin-right: 20px;
  background-image: url('../images/calendar.svg');
  background-size: 22px 22px;
  height: 22px;
  width: 22px;
  color: #f1f5f9;
}

#project-menu ul li a.gantt::before{
  display: inline-flex;
  content: '';
  margin-right: 20px;
  background-image: url('../images/gantt.svg');
  background-size: 22px 22px;
  height: 22px;
  width: 22px;
  color: #f1f5f9;
}

#project-menu ul li a.time-entries::before{
  display: inline-flex;
  content: '';
  margin-right: 20px;
  background-image: url('../images/time.svg');
  background-size: 22px 22px;
  height: 22px;
  width: 22px;
  color: #f1f5f9;
}

#project-menu ul li a.issues::before{
  display: inline-flex;
  content: '';
  margin-right: 20px;
  background-image: url('../images/issues.svg');
  background-size: 22px 22px;
  height: 22px;
  width: 22px;
  color: #f1f5f9;
}

#project-menu ul li a.activity::before{
  display: inline-flex;
  content: '';
  margin-right: 20px;
  background-image: url('../images/activity.svg');
  background-size: 22px 22px;
  height: 22px;
  width: 22px;
  color: #f1f5f9;
}

#project-menu ul li a.news::before{
  display: inline-flex;
  content: '';
  margin-right: 20px;
  background-image: url('../images/megaphone.svg');
  background-size: 22px 22px;
  height: 22px;
  width: 22px;
  color: #f1f5f9;
}

#project-menu ul li a.documents::before{
  display: inline-flex;
  content: '';
  margin-right: 20px;
  background-image: url('../images/documents.svg');
  background-size: 22px 22px;
  height: 22px;
  width: 22px;
  color: #f1f5f9;
}

#project-menu ul li a.wiki::before{
  display: inline-flex;
  content: '';
  margin-right: 20px;
  background-image: url('../images/wiki.svg');
  background-size: 22px 22px;
  height: 22px;
  width: 22px;
  color: #f1f5f9;
}

#project-menu ul li a.settings::before{
  display: inline-flex;
  content: '';
  margin-right: 20px;
  background-image: url('../images/settings.svg');
  background-size: 22px 22px;
  height: 22px;
  width: 22px;
  color: #f1f5f9;
}

#project-menu ul li a.repository::before{
  display: inline-flex;
  content: '';
  margin-right: 20px;
  background-image: url('../images/repository.svg');
  background-size: 22px 22px;
  height: 22px;
  width: 22px;
  color: #f1f5f9;
}


#project-menu ul li a.boards::before{
  display: inline-flex;
  content: '';
  margin-right: 20px;
  background-image: url('../images/boards.svg');
  background-size: 22px 22px;
  height: 22px;
  width: 22px;
  color: #f1f5f9;
}

#project-menu ul li a.overview::before{
  display: inline-flex;
  content: '';
  margin-right: 20px;
  background-image: url('../images/home.svg');
  background-size: 22px 22px;
  height: 22px;
  width: 22px;
  color: #f1f5f9;
}

#project-menu ul li a.files::before{
  display: inline-flex;
  content: '';
  margin-right: 20px;
  background-image: url('../images/files.svg');
  background-size: 22px 22px;
  height: 22px;
  width: 22px;
  color: #f1f5f9;
}

