.controller-projects{
  #content{
    >h2{
      /* display: none; */
    }
  }

  ul.projects {
    > li {
      @apply mb-0 pb-0;
      > div{
        @apply flex items-center hover:bg-gray-50 rounded;
        >a.project{
          @apply mb-0!  flex items-center hover:bg-white!;
        }
        >span{
          @apply flex items-center mx-1;
          >svg{
            @apply mb-0!
          }
        }
      }
    }
  }

  .news{
    p{
      @apply mb-2 font-medium border-b border-gray-100 py-0.5;
      .author{
        @apply text-xs text-gray-500 font-light flex items-center;
        a{
          @apply px-1;
        }
        a.user.active{
          span{
            @apply py-0 px-1 shadow-none align-bottom border-0;
            img{
              @apply hidden;
            }
          }
        }
      }
    }

  }

  #block-projectissues, #block-projecttimeentries{
    p:last-of-type{
      @apply mt-4 text-xs text-right text-gray-400;
      a{
        @apply text-gray-400 hover:text-gray-900;
      }
    }
  }

  .members{
    >p{
      @apply border-0 p-4 mb-4 bg-gray-50 rounded;
      >span.label{
        @apply font-bold flex w-full pb-2;
      }
      >a{

      }
    }
  }

  .issues{
    .issue-report{
      @apply mb-6;
    }
  }

  #tab-content-issues{
    fieldset {
      @apply grid grid-cols-6 gap-4 relative;
      .contextual{
        @apply flex w-full justify-end -top-2 absolute right-8
      }
      .floating{
        @apply flex;
        input{
          @apply mr-2;
        }
      }
    }
  }

  &.action-show{
    .contextual{
      /* display: none; */
    }
  }

  p#system-ticket-message{
    padding-left:0px;
  }
}


.controller-activities {

  #activity{
    dl{
      dt{
        >img{
          display: none;
        }
      }
    }
  }
}