.controller-wiki{
  #content {
    > .contextual{
      @apply -mt-6;
    }
    > .breadcrumb{
      @apply -mt-4 mb-4;
    }
    >div.wiki{
      @apply bg-white shadow dark:bg-gray-800 rounded p-8 mb-4 mt-4;
      h1{
        @apply text-xl font-medium border-b border-gray-100 pb-4 mb-4;
      }
      h2{
        @apply text-lg font-medium border-b border-gray-100 pb-4 my-6;
      }
      h3{
        @apply text-base font-medium mt-6 mb-2;
      }

      p{
        @apply my-2;
      }
      a.project{
        >div{
          @apply inline-flex;
          img{
            display: none;
          }
        }
        @apply inline-flex;
          img{
            display: none;
          }
      }
      ul{
        @apply space-y-1 list-disc ml-3 my-4;
        li{
          @apply pl-4;
        }
        >li{
          @apply pl-0;
        }
      }
      blockquote{
        @apply p-4 my-4 border-s-4 border-gray-300 rounded bg-gray-50 dark:border-gray-500 dark:bg-gray-800;
      }
      code{
        @apply text-rose-700 text-xs bg-rose-50 border-rose-100 rounded p-0.5;
      }
      pre{
        @apply my-4 mx-0 bg-gray-800 text-slate-100 shadow-xl border-gray-800 rounded p-4;
        counter-reset: line;
        >code{
          @apply  text-xs bg-transparent border-none p-0;
        }
      }
      .toc{
        @apply space-y-2 list-disc ml-3 my-4 p-8 rounded border-yellow-200 bg-yellow-100 text-yellow-800;

        li{
          @apply list-disc;
          a{
            @apply text-yellow-700;
          }
        }
        >li{
          @apply list-none;
          ul{
            @apply m-0 p-0;
          }
        }
      }
    }
  }
  #sidebar-wrapper{
    .wiki{
      >ul{
        padding-left: 0px;
        ul{
          padding-left: 15px;
        }
      }
    }
  }
}