<nav class="flex fixed z-50 w-full bg-white items-center justify-between shadow h-14">
  <% if @project  %>
  <header class="h-full w-80 flex flex-initial items-center">
    <%= link_to @project, :class=>"uppercase text-xs h-full z-50 px-4 flex justify-start items-center text-gray-800 dark:text-gray-100 hover:bg-gray-50 dark:hover:bg-gray-800 dark:hover:text-gray-100 font-light" do %>
      <%= letter_avatar_tag(@project.name, 300, class: 'w-8 h-8 rounded-sm mr-2') %>
      <span class="text-sm font-medium line-clamp-2"><%= @project.name %></span>
    <% end %>
  </header>
  <% end %>
  <div id="project-menu-navbar" class="flex items-center justify-between  w-full  relative">
      <%= render_main_menu(@project) %>
  </div>
  <div class="flex items-end space-x-1 w-64">
    &nbsp;
  </div>
</nav>